<%-include("../header")%>


<body class="d-flex justify-content-center align-items-center   homebody gradient-custom12">
    <div class="card text-center p-4">
        <div class="card-body">
            <img src="https://img.icons8.com/ios/50/000000/logout-rounded-left.png" alt="Log Out Icon" class="mb-3">
            
            <% if (typeof userdata !== 'undefined') { %>

                <h4 class="fw-bold mb-2 text-danger">HI ADMIN,<%=userdata.name%></h4>
                <p class="fw-bold mb-2 text-success"><%=userdata.email%></p>
            <% } %>
            
            <h5 class="card-title">Oh no! You're leaving...</h5>
            <p class="card-text">Are you sure?</p>
            <div class="d-flex justify-content-center">
                <a href="/logoutAdmin" class="btn  btn-outline-primary mx-1">Log  Out </a>
                <a href="/AdminEdit" class="btn btn-warning mx-1 mx-1">edit</a>
            </div>
        </div>
    </div>
  

<%-include("../footer")%> 